<!doctype html>
<head>
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles/main.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script>
	$SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
</head>

<body>
<div class="everything">
			<div class="tophalf">
			<div class="turn_order">
				<span class="section_title">Turn Order</span>
				<div class="to_line"></div>
				<div class="bottom_div">
				<button id="remove_member" class="button">
					Remove
				</button>
				<button id="next_member" class="button">
					Next
				</button>
				<button id="add_block" class="button">
					+
				</button>
				</div>
				<div class="character_boxes">
					<div class="character_box">
						<span class="to_character_name">Nyajima</span>
						<div class="to_max_hp">
							<div class="to_curr_hp"></div>
							<span class="to_hp_text">16/20</span>
						</div>
						<div class="to_initiative_circle">
							<span class="to_initiative_text">20</span>
						</div>
					</div>
				</div>
			</div>
			<div class="new_character">
					<span class="section_title">New Character</span>
					<div class="nc_row">
						<span class="inner_text">Name:</span>
						<input type="text" id="member_name">
					</div>
					<div class="nc_row">
						<span class="inner_text">Initiative:</span>
						<input type="number" id="initiative">
					</div>
					<div class="nc_row">
						<span class="inner_text">Max HP:</span>
						<input type="number" id="max_hp">
					</div>
					<div class="nc_row">
						<span class="inner_text">Max MP:</span>
						<input type="number" id="max_mp">
					</div>
					<div class="nc_row">
						<span class="inner_text">AC:</span>
						<input type="number" id="armor_class">
					</div>
					<div class="nc_line"></div>
					<div class="bottom_div">
						<button id="add_member" class="button">
							Add
						</button>
						<button id="cancel_block" class="button">
							Cancel
						</button>
					</div>
			</div>
			<div class="turn_action">
				<div class="ta_line"></div>
				<span class="section_title">Nyajima's Turn</span>
				<span class="select_target">Select Target:</span>
				<select id="target"></select>
				<div class="actions">
					<div class="single_action" id="move_action">
						<span class="inner_text">Distance:</span>
						<input type="number" id="distance">
						<button id="move" class="inner_button">
							Move!
						</button>
					</div>
					<div class="single_action" id="attack_action">
						<span class="inner_text">Damage:</span>
						<input type="number" id="damage">
						<button id="attack" class="inner_button">
							Attack Target!
						</button>
						<span class="inner_text">Weapon:</span>
						<input type="text" id="weapon">
					</div>
					<div class="single_action" id="ready_action">
						<span class="inner_text">Action:</span>
						<input type="text" id="action">
						<button id="ready" class="inner_button">
							Ready Action!
						</button>
					</div>
					<div class="single_action" id="reaction_action">
						<span class="inner_text">Damage:</span>
						<input type="number" id="damage">
						<button id="reaction" class="inner_button">
							Reaction Attack On Target!
						</button>
					</div>
					<div class="single_action" id="bonus_action_action">
						<span class="inner_text">Action:</span>
						<input type="text" id="action">
						<button id="bonus_action" class="inner_button">
							Bonus Action!
						</button>
					</div>
					<div class="single_action" id="bonus_attack_action">
						<span class="inner_text">Damage:</span>
						<input type="number" id="damage">
						<button id="bonus_attack" class="inner_button">
							Bonus Attack On Target!
						</button>
						<span class="inner_text">Weapon:</span>
						<input type="text" id="weapon">
					</div>
				</div>
				
			</div>
			<div class="encounter_log">
				<span class="section_title">Encounter Log</span>
				<div class="el_table_container">
					<table class="el_table">
						<tr><td>Nyajima moves 35 ft and attacks Kot for 5 damage. Kot now has 15 HP.</td></tr>
						<tr><td>Truffle moves 35 ft and attacks Kot for 5 damage. Kot now has 10 HP.</td></tr>
						<tr><td>Kot attacks Nyajima for 4 damage. Nyajima now has 16 HP.</td></tr>
						<tr><td>Nyajima moves 20 ft.</td></tr>
					</table>
				</div>
				<div class="bottom_div">
					<button class="button">
						Clear Logs
					</button>
				</div>
			</div>
			</div>
			<div class="encounter_monsters">
				<span class="section_title">Encounter Monsters</span>
				<div class="em_table_container">
					<table class="em_table">
						<colgroup>
							<col class="table_name"/>
							<col class="table_hp"/>
							<col class="table_mp"/>
							<col class="table_ac"/>
							<col class="table_initiative"/>
						</colgroup>
						<tr>
							<th>test</th>
							<th>test</th>
							<th>test</th>
							<th>test</th>
							<th>test</th>
						</tr>
						<tr>
							<td>test</td>
							<td>test</td>
							<td>test</td>
							<td>test</td>
							<td>test</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
<script>
	$(function() {
		$('button#add_member').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/add_member', {
				name: $('#member_name').val(),
				initiative: parseInt($('#initiative').val()),
				max_hp: parseInt($('#max_hp').val()),
				max_mp: parseInt($('#max_mp').val()),
				armor_class: parseInt($('#armor_class').val())
			}, function(data){
				$('#result').text(data.result);
				updateTables();
			});
		});
	});

	$(function() {
		$('button#remove_member').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/remove_member', {id: parseInt($('#current_member').attr('data-id'))}, function(data){
				$('#current_member').text(data.result.name).attr('data-id', data.result.id);
				updateTables();
			});
		});
	});

	$(function() {
		$('button#next_member').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/next_member', {id: parseInt($('#current_member').attr('data-id'))}, function(data){
				console.log(data);
				$('#current_member').text(data.result.name).attr('data-id', data.result.id);
			});
		});
	});

	$(function() {
		$('button#action').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/do_action', {id: parseInt($('#current_member').attr('data-id'))}, function(data){
				$('#result').text(data.result);
				updateLogs();
			});
		});
	});

	$(function() {
		$('button#action_to_target').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/do_action_to_target', {
					id: parseInt($('#current_member').attr('data-id')),
					target: parseInt($('#targets').val())
				}, function(data){
					$('#result').text(data.result);
					updateLogs();
			});
		});
	});

	$(function() {
		$('#attack').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/attack', {
					id: parseInt($('#current_member').attr('data-id')),
					target: parseInt($('#targets').val()),
					damage: parseInt($('#attack_action #damage').val()),
					weapon: $('#attack_action #weapon').val()
				}, function(data){
					$('#result').text(data.result);
					updateLogs();
					updateTables();
			});
		});
	});

	$(function() {
		$('#move').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/move', {
					id: parseInt($('#current_member').attr('data-id')),
					distance: parseInt($('#move_action #distance').val())
				}, function(data){
					$('#result').text(data.result);
					updateLogs();
			});
		});
	});

	$(function() {
		$('#ready').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/ready', {
					id: parseInt($('#current_member').attr('data-id')),
					action: $('#ready_action #action').val()
				}, function(data){
					$('#result').text(data.result);
					updateLogs();
			});
		});
	});

	$(function() {
		$('#reaction').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/reaction', {
					id: parseInt($('#current_member').attr('data-id')),
					target: parseInt($('#targets').val()),
					damage: $('#reaction_action #damage').val()
				}, function(data){
					$('#result').text(data.result);
					updateLogs();
					updateTables();
			});
		});
	});

	$(function() {
		$('#bonus_action').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/bonus_action', {
					id: parseInt($('#current_member').attr('data-id')),
					action: $('#bonus_action_action #action').val()
				}, function(data){
					$('#result').text(data.result);
					updateLogs();
			});
		});
	});

	$(function() {
		$('#bonus_attack').bind('click', function() {
			$.getJSON($SCRIPT_ROOT + '/bonus_attack', {
					id: parseInt($('#current_member').attr('data-id')),
					target: parseInt($('#targets').val()),
					damage: parseInt($('#bonus_attack_action #damage').val()),
					weapon: $('#bonus_attack_action #weapon').val()
				}, function(data){
					$('#result').text(data.result);
					updateLogs();
					updateTables();
			});
		});
	});

	function updateTables() {
		$.getJSON($SCRIPT_ROOT + '/show_members', null, function(data){
			$('#members').empty();
			$('#targets').empty();
			$('<tr>').append(
				$('<th>').text('Name'),
				$('<th>').text('HP'),
				$('<th>').text('MP'),
				$('<th>').text('AC'),
				$('<th>').text('Initiative'),
				$('<th>').text('id')
			).appendTo('#members');
			$.each(data.result, function(i, member) {
				$('<tr>').append(
					$('<td class="member_name">').text(member.name),
					$('<td>').text(member.current_hp+"/"+member.max_hp),
					$('<td>').text(member.current_mp+"/"+member.max_mp),
					$('<td>').text(member.armor_class),
					$('<td>').text(member.initiative),
					$('<td>').text(member.id)
				).appendTo('#members');
				$('<option>').val(member.id).text(member.name).appendTo('#targets');
			});
		});
	}

	function updateLogs() {
		$.getJSON($SCRIPT_ROOT + '/show_logs', null, function(data){
			$('#logs').empty();
			$.each(data.result, function(i, log) {
				$('<tr>').append(
					$('<td>').text(log.text),
				).appendTo('#logs');
			});
		});
	}

	$(updateTables);
	$(updateLogs);

</script>
</body>
